& {
  list-style: none;
  position: relative;
  margin-top: 12px;
  cursor: pointer;
  height: 60px;
  padding: 15px;
  width: 450px;
  background: #fff;
}

.photo-wrapper {
  display: inline-block;

  img {
	  border-radius: 50%;
    width: 60px;
    height: 60px;
	}
}

.information {
  position: absolute;
  display: inline-block;
  margin-left: 10px;

  .name {
    color: #333;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
  }

  .title-company {
    color: #ababab;
  }
}
