body {
  font-family: Helvetica, Arial;
  font-size: 14px;
  overflow: hidden;
  background: #f5f5f5;
}

input {
  background: transparent;
}
@import "header";
@import "main";
@import "messaging";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import "modal";
@import "pod-styles";
