.contacts-wrapper {
  display: inline-block;
  overflow: scroll;
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 50%;
  margin-left: -240px;
  z-index: 2;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.contact-wrapper {
  display: inline-block;
  position: absolute;
  margin-top: 75px;
  left: 500px;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  overflow: auto;
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.wrapper-notes {
  margin-top: 15px;

  .add-note {
    width: 80%;
    margin: 0 auto;
    text-align: left;
  }

  .picture {
    display: inline-block;
    img {
      border-radius: 50%;
    }
  }

  textarea {
    width: calc(100% - 60px);
    height: 50px;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
    border: 1px solid #c2c2c2;
  }

  .section-actions {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .text {
    margin-left: 60px;
  }
}

.open-detail {
  .contacts-wrapper {
    left: 0;
    margin-left: 0;
    transition-duration: 0.5s;
    transition-timing-function: linear;
  }

  .contact-wrapper {
    opacity: 1;
    display: inline-block;
    transition-duration: 1s;
    transition-timing-function: ease-out;
  }
}

.sort-by {
  text-align: right;
  margin-top: 20px;
  color: #00a1ff;
  text-decoration: underline;
  background: transparent;
  outline: none;
  border: none;
  display: inline;

  &::after {
    content: ' ';
    display: inline-block;
    background-size: contain;
    width: 13px;
    height: 13px;
  }

  &.asc::after {
    background-image: url(../img/asc.png);
  }

  &.desc::after {
    background-image: url(../img/desc.png);
  }
}

.section-actions {
  text-align: right;
  button {
    background-color: transparent;
    border-width: 1px;
    outline: none;
    width:100px;
    border-radius: 10px;
  }

  .btn-cancel {
    border: 1px solid #dbdbdb;
    &:hover {
      background-color: #dbdbdb;
    }
  }

  .btn-delete {
    border-color: #ff3860;
    color: #ff3860;
    &:hover {
      background-color: #ff3860;
      color: #fff;
    }
  }

  .btn-success {
    border-color: #23d160;
    color: #23d160;
    &:hover {
      background-color: #23d160;
      outline: none;
      color: #fff;
    }
  }
}

.error {
  color: #ff7700;
  font-style: italic;
  font-size: 10px;
  text-align: left;
}

@media screen and (max-width: 1005px) {
  .open-detail {
    .contact-wrapper {
      left: 0;
      opacity: 1;
      transition-duration: 1s;
      transition-timing-function: ease-out;
    }
    .contacts-wrapper {
      opacity: 0;
      transition-duration: 1s;
      transition-timing-function: ease-out;
      z-index: -1;
    }
  }

  .contacts-wrapper {
    opacity: 1;
    transition-duration: 1s;
    transition-timing-function: ease-out;
  }
}
