.ember-modal-dialog {
  h2 {
    color: #666;
    font-size: 14px;
  }

  .section-actions {
    text-align: right;
    button {
      background-color: transparent;
      border-width: 1px;
      outline: none;
      width:100px;
      border-radius: 10px;
    }

    .btn-cancel {
      border: 1px solid #dbdbdb;
      &:hover {
        background-color: #dbdbdb;
      }
    }

    .btn-delete {
      border-color: #ff3860;
      color: #ff3860;
      &:hover {
        background-color: #ff3860;
        color: #fff;
      }
    }
  }
}
