& {
  background-color: #fff;
  border-radius: 10px;
  display: inline-block;;
  text-align: center;
  width: 80%;
  margin-top: 10px;
  color: #ababab;
  padding: 10px 20px;
  box-sizing: border-box;

  p {
    text-align: left;
    color: #333;
  }

  h3 {
    text-align: right;
    font-size: 12px;
    font-weight: normal;
  }
}
