& {
  background-color: #fff;
  border-radius: 10px;
  display: inline-block;;
  text-align: center;
  width: 80%;
  margin-top: 10px;
  color: #ababab;
  padding: 10px 20px;
  box-sizing: border-box;

  p {
    text-align: left;
    color: #333;
  }

  h3 {
    text-align: right;
    font-size: 12px;
    font-weight: normal;
  }
  .note-action {
    text-align: right;
  .edit {

      &::after {
        content: ' ';
        display: inline-block;
        background-size: contain;
        width: 20px;
        height: 20px;
        background-image: url(../img/edit.png);
        background-repeat: no-repeat;
      }
    }
    .remove {
      &::after {
        content: ' ';
        display: inline-block;
        background-size: contain;
        width: 20px;
        height: 20px;
        background-image: url(../img/remove.png);
        background-repeat: no-repeat;
      }
    }
  }
}
