<div class="note-action">
  <span class="remove" {{action "delete"}}></span>
  <span class="edit"></span>
</div>
  <p>
    {{note.text}}
  </p>
  <h3>Created at: <label>{{moment-format note.createdAt}}</label></h3>
