<div class="title-wrapper">
  {{#link-to "contacts"}}<span class="">Contacts</span>{{/link-to}}
</div>
<div class="options">
  <span>
    {{input type="search" placeholder="search..." value=searching}}
  </span>
  {{!-- <button class="search" {{action "search"}}/> --}}
  <button class="add" {{action "add"}}/>
</div>
