<div class="title-wrapper">
  <span>Contacts</span>
</div>
<div class="options">
  <span>
    {{input type="search" placeholder="search..." value=searching}}
  </span>
  {{!-- <button class="search" {{action "search"}}/> --}}
  <button class="add" {{action "add"}}/>
</div>
